.shop-banner {
  background-image: url("../assets/breadcumb.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.shop-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.breadcrumb-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.home-icon {
  color: #b3b3b3;
  font-size: 15px;
}

.home-link,
.bread-link {
  text-decoration: none;
  color: #b3b3b3;
  transition: 0.3s;
}

.home-link:hover,
.bread-link:hover,
.home-link:hover .home-icon {
  color: #00b207;
}

.active-link {
  color: #00b207;
  font-weight: 600;
}

.arrow-icon {
  font-size: 10px;
  color: #777;
}

@media (max-width: 576px) {
  .shop-banner {
    height: 70px;
  }

  .breadcrumb-content {
    font-size: 12px;
    gap: 8px;
  }
}