.newsletter-section{

background:#111111;

padding:40px;

margin-bottom:60px;

}

.newsletter-left{

display:flex;

align-items:center;

gap:15px;

}

.mail-icon{

font-size:34px;

color:#00B207;

transition:.3s;

cursor:pointer;

}

.mail-icon:hover{

transform:rotate(10deg);

}

.heading{

font-size:28px;

font-weight:600;

color:white;

}

.newsletter-left p{

color:#808080;

}

.subscribe-box{

background:#2B2B2B;

display:flex;

padding:5px;

border-radius:40px;

overflow:hidden;

}

.subscribe-box input{

background:transparent;

border:none;

color:white;

padding:15px;

box-shadow:none;

}

.subscribe-box input:focus{

background:transparent;

color:white;

box-shadow:none;

}

.subscribe-box button{

background:#00B207;

border:none;

padding:12px 30px;

border-radius:30px;

font-weight:600;

transition:.3s;

}

.subscribe-box button:hover{

background:#2C742F;

transform:scale(1.05);

}

.social-icons{

display:flex;

justify-content:center;

gap:10px;

}

.icon-box{

width:42px;

height:42px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

color:white;

cursor:pointer;

transition:.3s;

}

.icon-box:hover{

background:#00B207;

transform:translateY(-5px);

}

.footer-main{

padding:60px 0;

}

.footer-main ul{

list-style:none;

padding:0;

}

.footer-main li{

margin-bottom:12px;

cursor:pointer;

transition:.3s;

}

.footer-main li:hover{

color:#00B207;

padding-left:5px;

}

.contact-info{

display:flex;

gap:20px;

margin-top:20px;

}

.contact-info span{

border-bottom:2px solid #00B207;

padding-bottom:5px;

}

.app-btn{

display:flex;

flex-direction:column;

gap:10px;

}

.app-btn button{

border:none;

padding:12px;

background:#F2F2F2;

transition:.3s;

}

.app-btn button:hover{

background:#00B207;

color:white;

}

.copy-flex{

display:flex;

justify-content:space-between;

padding:20px 0;

border-top:1px solid #ddd;

}

.payment{

display:flex;

gap:10px;

}

@media(max-width:768px){

.subscribe-box{

margin:20px 0;

}

.social-icons{

justify-content:flex-start;

margin-top:20px;

}

.copy-flex{

flex-direction:column;

gap:10px;

}

}

@media(max-width:768px){

.subscribe-box{

margin:20px 0;

}

.copy-flex{

flex-direction:column;

gap:10px;

}

}